<!-- cadastrarUsuario.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css">
</head>
<body>
    <% if(erro==1){ %>
        <div style="color : red">
            E-mail jรก cadastrado!
        </div>
    
    <% } %>
    <div class = "container">
    
<form action ="/usuarios" method = "post">
  <input type="hidden" name="id" value = "<%= p.id %>">
   <div>
        <label class="form-label">Nome</label>
        <input type="text" value = "<%= p.nome %>" required class="form-control" name ="nome">
      </div>

      <div <%= escondido %> class="mb-3">
      
        <label class="form-label">E-mail</label>
        <input type="email" value = "<%= p.email %>" required class="form-control" name ="email">
      </div>
    
      

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" required class="form-control" name ="senha">
      </div>
    
    <button class="btn btn-success" type = "submit" >Salvar</button>

</form>
<a href="/">Voltar</a>

</div>
</body>

</html>